.App {
  text-align: center;
  width: 100%;
  font-family: "Raleway", sans-serif;
}

.App-header {
  background-color: #2b323f;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
